 /*For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}*/

/* End for testing */

body {
  padding: 20px;
  margin: 0;
  background-color: black;
  color: white;
}

header,
.press,
.about,
.featured {
  background-color: white;
  color: black;
}

.press h5,
.featured a,
.picture h4     {
  font-size: .8rem;
}

a:hover {
  cursor: pointer;
}

  /*HEADER*/

header h1 {
  font-size: 1rem;
  font-weight: lighter;
  padding: 15px 0 5px 22px;
  margin: 0;
}

header nav {
  background-color: rgb(244, 244, 244);
  padding-left: 22px;
}

header nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header nav ul li {
  display: inline;
}

header a {
  font-size: .7rem;
  line-height: 2rem;
  margin-right: 10px;
}

  /*MAIN DIV*/

.featured,
.press {
  margin-bottom: 15px;
}

.title {
  background-color: black;
}


.title h2 {
  font-size: 1.1rem;
  margin-bottom: 0;
  font-weight: normal;
}

.title h4 {
  font-family: sans-serif;
  margin-top: 5px;
}

.picture {
  height: 40vh;
}

.picture {
  background-image: url("http://www.anderssonwise.com/images/projects/1000/anderssonwise-id16-224-1000.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.featured {
  padding: 10px 0;
}

.featured a {
  text-decoration: none;
  padding-left: 22px;
  margin: 0px;
}

  /*PRESS DIV*/

.press {
  padding: 10px 0;
}

.press h5 {
  padding-left: 22px;
  font-weight: normal;
  margin: 0px;
}

.press h5:first-of-type {
  padding-bottom: 3px;
}

  /*ABOUT DIV*/

.about {
  padding: 15px 22px;
}

.about p {
  font-size: .9rem;
  margin: 0px;
  line-height: 1.5rem;
}

  /*MEDIA QUERIES*/

@media screen and (min-width: 600px) {

  body {
    padding: 0px;
  }

  header {
    position: absolute;
    margin: 50px;
    padding: 22px;
    background-color: #fffeff;
    opacity: .95;
  }

  header h1 {
    font-size: 1rem;
    padding: 0px;
    margin-bottom: 5px;
  }

  header nav {
    padding: 0px;
    background: none;
  }

  header nav a {
    display: block;
    line-height: 1.1rem;
  }

  .title{
    position: absolute;
    top: 320px;
    left: 50px;
    background: none;
  }

  .picture {
    height: 400px;
  }

  .featured {
    display: none;
  }

}
