 /*For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}*/

/* End for testing */

body {
  padding: 20px;
  margin: 0;
  background-color: black;
  color: white;
}

header,
.press,
.about,
.featured {
  background-color: white;
  color: black;
}

.press h5,
.featured a,
#main h4     {
  font-size: .8rem;
}

header h1 {
  font-size: 1rem;
  font-weight: lighter;
  padding: 15px 0 5px 22px;
  margin: 0;
}

header nav {
  background-color: rgb(244, 244, 244);
  padding-left: 22px;
}

header nav ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

header nav ul li {
  display: inline;
}

header a {
  font-size: .7rem;
  line-height: 2rem;
  margin-right: 10px;
}

#main,
.press {
  margin-bottom: 15px;
}

#main h2 {
  font-size: 1.1rem;
  margin-bottom: 0;
  font-weight: normal;
}

#main h4 {
  font-family: sans-serif;
  margin-top: 5px;
}

#main img {
  width: 100%;
}

.featured {
  padding: 10px 0;
}

.featured a {
  text-decoration: none;
  padding-left: 22px;
  margin: 0px;
}

.press {
  padding: 10px 0;
}

.press h5 {
  padding-left: 22px;
  font-weight: normal;
  margin: 0px;
}

.press h5:first-of-type {
  padding-bottom: 3px;
}

.about {
  padding: 15px 22px;
}

.about p {
  font-size: .9rem;
  margin: 0px;
  line-height: 1.5rem;
}

@media screen and (min-width: 600px) {
  header {
    position: absolute;
    margin: 50px;
  }

}

/*
@media screen and (min-width: 900px) {
  body {
    padding: 3.5% 0 0 0;
    height: 90vh;
  }

  #main {
    float: left;
    width: 65%;
    margin: 0 2vh 0 3.5%;
    height: 100%;
  }

  article {
    float: left;
    width: 27%;
    margin: 0;
    height: 44vh;
  }

  article:first-of-type {
    margin-bottom: 2vh;
  }
}
*/
