 /*For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}*/

/* End for testing */

body {
  padding: 20px;
  margin: 0;
  background-color: black;
  color: white;
}

  /*HEADER*/

header {
  margin: 0;
  padding: 0px;
  background-color: white;
  color: black;
}

header h1 {
  font-size: 1rem;
  font-weight: lighter;
  padding: 15px 0 5px 22px;
  margin: 0;
}

header nav {
  background-color: rgb(244, 244, 244);
  padding-left: 22px;
}

header a {
  font-size: .7rem;
  line-height: 2rem;
  margin-right: 10px;
}

#main h2 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

#main h4 {
  font-family: sans-serif;
  font-size: .8rem;
  margin-top: 5px;
}

#main img {
  width: 100%;
}

.featured {
  background-color: white;
  color: black;
  padding: 10px 0;
}

.featured a {
  text-decoration: none;
  color: black;
  font-size: .8rem;
  padding-left: 22px;
  margin: 0px;
}
/*#main, article, header {
  margin: 15px;
}*/

/*#main {
  width: 90%;
  height: 45vh;
}

article {
  width: 90vw;
  height: 22.5vh;
}


@media screen and (min-width: 600px) and (max-width: 899px) {

  article {
    width: 42.5vw;
    float: left;
    margin: 0;
  }

  article:first-of-type {
    margin-left: 5%;
  }

  article:nth-of-type(n+2) {
    margin-left: 5%;
  }
}

@media screen and (min-width: 900px) {
  body {
    padding: 3.5% 0 0 0;
    height: 90vh;
  }

  #main {
    float: left;
    width: 65%;
    margin: 0 2vh 0 3.5%;
    height: 100%;
  }

  article {
    float: left;
    width: 27%;
    margin: 0;
    height: 44vh;
  }

  article:first-of-type {
    margin-bottom: 2vh;
  }
}*/
